<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://xbuild.eu.ngrok.io/build/WTC.ipa</string>
		<key>displayImageURL</key>
		<string>https://xbuild.eu.ngrok.io/build/wtc57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://xbuild.eu.ngrok.io/build/wtc512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>XYA85FESD6</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
